body {
	background-color: #f6f6f6;
	position: relative;
}
@font-face {
    font-family: 'Unicorn';
    src: url(UNICORN.TTF);
}

#title_section h1 {
	font-family: 'Unicorn';
	color: #9512b0;
	text-align: center;
	font-size: 75px;
}

#title_section {
	height: 110px;
	top: 0px;
	width: 100%;
	position: fixed;
	border-color: #FFFFFF;
	border-style: solid;
	border-width: 5px;
	z-index: 10000;
	background-color: #e5e5e5

}

#authform {
	border-style: solid;
	border-width: 10px;
	border-color: #FFFFFF;
	vertical-align: center;
	position: relative;
	margin-top: 150px;
	margin-right: auto;
	margin-left: auto;
	max-width: 400px;
	background-color: #e5e5e5;
	height: 330px;
	text-align: center;


}	
#authform a {
	text-align: center
}
#authform h1 {
	text-align: center;
}
#authform form {
	margin:auto;

}

button {
  background: #d007e8;
  background-image: -webkit-linear-gradient(top, #d007e8, #9512b0);
  background-image: -moz-linear-gradient(top, #d007e8, #9512b0);
  background-image: -ms-linear-gradient(top, #d007e8, #9512b0);
  background-image: -o-linear-gradient(top, #d007e8, #9512b0);
  background-image: linear-gradient(to bottom, #d007e8, #9512b0);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Georgia;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

button:hover {
  background: #e44ff6;
  background-image: -webkit-linear-gradient(top, #e44ff6, #e786f2);
  background-image: -moz-linear-gradient(top, #e44ff6, #e786f2);
  background-image: -ms-linear-gradient(top, #e44ff6, #e786f2);
  background-image: -o-linear-gradient(top, #e44ff6, #e786f2);
  background-image: linear-gradient(to bottom, #e44ff6, #e786f2);
  text-decoration: none;
}
.input-group{
	margin: 5px;

}

